html, body {
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
   font-family: sans-serif;
}

body{
  min-height: 100%;
}
#navbarNav{
  float: right;
}
.test {
  height: 85%;
  overflow: hidden;
  margin: 0px;
  display: flex;
}

.column {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#right {
  background-color: #f3f3f3;
  width: 100%;
  -webkit-transition: width 0.3s; /* Safari */
  transition: width 0.3s;
  -webkit-transition: margin-left 0.3s; /* Safari */
  transition: margin-left 0.3s;

}
.top-left {
  flex-shrink: 0;
  background-color: #D7CEC7;
  color: white;
  padding: 10px;
  height: 10%;
}
.top-right {
  display: inline-flex;
  flex-shrink: 0;
  background-color: #A9A9A9;
  color: white;
  padding: 10px;
  height: 10%;
}
.top-right-header{
  width: 100%;
  text-align: right;
}
.bottom {
  position: flex;
  height: 100%;
  flex-grow: 1;
  overflow-y: auto;

  width: 100%;
  font-size-adjust: relative;
}
.side-bar{
   width: 100%;
}
/*ul{
  display: inline-flex;
  list-style: none;
  margin: 0;
}
li{
  margin-right: 20px;
}*/
#footer{
  background-color: #f3f3f3;
  width: 100%;
  border-top: 1px solid  #333;
}


/*
  LEFT NAV
*/
.module-topics{
    display: block;
    margin-bottom: 10%;
    padding-left: 0px;
    float:left;
    clear:left;
}

#left {
  width: 300px;
  height: 90%;
  position: absolute;
  -webkit-transform: translate(-300px, 0);
  transform: translate(-300px, 0);
  transition: transform 0.3s ease;
  z-index: 1000;
  box-shadow: 2px 2px 20px rgba(0,0,0,0.6);
  font-size-adjust: 0.58;
  width: 40%;
  flex-shrink: 0;
  background-color: #565656;
  color: white;
}
#left.open {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}



a{
  padding: 10px;
  text-decoration: none !important;
}
/*
OLD CODE
/*

/*You may need this */
/*#left {
  flex-shrink: 0;
  background-color: #CAEBF2;
  background-color: #565656;
  color: white;
}*/
.open2{
  height: 100%;
  width: 60%;
  margin-left: 40%;
}

/* Accordion */
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 100%; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; background-color: #565656; color: white; padding-left: 10px; border-bottom: 1px solid #A9A9A9; width: 100%;}
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { width: 100%;padding-bottom: 0; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 100%;}

#left > div.bottom.side-bar > a{
  background-color: #A9A9A9;
  font-color: white;
  text-decoration: none;
}
/*#left > div.bottom.side-bar > div > ul{
  background-color: #A9A9A9;
}
#ui-id-1{
  text-decoration: none;
  background-color: #A9A9A9;
  border-bottom: 1px solid white;
}
#ui-id-2{
  text-decoration: none;
  background-color: #A9A9A9;
  border-bottom: 1px solid white;
}
#ui-id-3{
  text-decoration: none;
  background-color: #A9A9A9;
  border-bottom: 1px solid white;
}
#ui-id-4{
  text-decoration: none;
  background-color: #A9A9A9;
  border-bottom: 1px solid white;
}
#ui-id-5{
  text-decoration: none;
  background-color: #A9A9A9;
  border-bottom: 1px solid white;
}*/

a.accordion {
    background-color: #565656;
    color: white !important;
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    display: block;
    float:left;
    clear:left;
    font-size: 1em;
    padding-left: 10px;
    width: 100%;
    border-bottom: 1px solid white !important;
}

.accordion-list{
  display: block;
  list-style-type: none;
  width: 100%;
}

a.accordion.active, a.accordion:hover {
    background-color: #A9A9A9;
}

div.panel {
    display: none;
    background-color: grey;
}

ul.accordion-list{
  padding: 10px;
}


@media screen and (min-width: 650px){
    a#menu div{
      display: none;
    }

    #right.open2{
      width: 100%;
      margin-left: 0;
    }

    #left{
      margin-top: 0px;
      width: 100%;
      height: auto;
      position: relative;
      -wekbit-transform: translate(0, 0);
      transform: translate(0,0);
      z-index: 0;
      border-right: none;
      box-shadow: none;
      flex-shrink: 0;
      background-color: #CAEBF2;
      background-color: #565656;
      color: white;
      width: 15%;
    }
}

@media screen and (max-width: 991px){
  #navbarNav{
    z-index: 1;
    background-color: #f8f9fa!important;
  }
  ul.navbar-nav{
    text-align: center;
  }
  a.nav-link{
    position: relative;
    border-bottom: 1px solid #A9A9A9;
    margin-right: 0px;
  }
  .nav-item{
    margin: 0;
  }
}
